@import url("https://fonts.googleapis.com/css2? family= Montserrat:wght@200 & family= Poppins & family= Roboto & display=swap");

//fonts

$font1: 'Montserrat', sans-serif;
$font2: 'Poppins', sans-serif;
$font3: 'Roboto', sans-serif;


//colors

$color1: #ea1e52;
$color2: coral;
$color3: rgba(41, 23, 1, 0.5);
$color4: #553b79;
$color5: #878ec2;
$color6: #90c296;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}


header {

    width: 100%;

    //inicia barra de navegación
    .navbar {
        background-color: $color1;
        min-height: 90px;

        span {
            color: #fff;
            font-weight: bold;
            font-size: 25px;
            font-family: $font1;
        }

        .navbar-toggler {
            border: none;

            i {
                color: $color2;
            }
        }

        .nav-link {
            color: #fff !important;
            font-family: 'Montserrat', sans-serif;
            margin-left: 2px;
        }

        .nav-link:hover {
            background-color: $color2;
            border-radius: 4px;
            transition: 0.5 s;
        }

    }
}

//fin barra de navegación

//inicia inicio//

//inicia carrusel

.main1 {
    width: 100%;
    background-color: $color6;

    .container {

        width: 100%;

        img {

            object-fit: cover;
            height: 500px;
        }

        .carousel-caption {

            background-color: $color3;
            text-align: center;
            margin-bottom: 100px;

            h1 {
                color: $color6;
                text-shadow: 5px 5px 5px $color4;
                font-family: $font3;

            }

            p {
                color: wheat;
                text-shadow: 2px 2px 2px $color4;
                font-family: $font3;
            }

        }

    }

}

//fin de carrusel

//inicia hacemos que tu marca se destaque

.marcah2 {

    background-color: $color1;
    color: black;
    text-align: center;
    padding: 30px;
    font-family: $font2;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: bold;

}


.marca {

    width: 100%;
    height: auto;
    background-color: $color5;
    margin-bottom: 0;



    .nleft {
        width: 100%;
        height: 400px;
        background-image: url(img/carrucel1/WhatsApp\ Image\ 2023-04-15\ at\ 11.06.45.jpeg);
        background-size: cover;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;


    }

    .nleft:hover {

        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }


    .ncenter {

        width: 100%;
        height: 400px;
        background-image: url(img/carrucel1/picada.jpeg);
        background-size: cover;
        background-position: center;
        margin-left: 30px;
        margin-top: 30px;
        margin-bottom: 30px;


    }

    .ncenter:hover {

        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }


    .nright {
        width: 100%;
        height: 250px;
        margin-top: 100px;
        text-align: center;
        margin-left: 30px;

        p {
            font-family: $font2;
            font-size: 20px;
            color: $color4;
            font-weight: bold;
            box-shadow: 3px 3px 3px $color4;

        }

    }

    .nright:hover {

        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }


}

//fin hacemos que tu marca se destaca

//inicia cómo lo hacemos

.clh {

    @extend.marcah2
}

.sec2 {

    width: 100%;
    height: 400px;
    background-color: $color2;

    .divp {

        display: flex;
        justify-content: center;
        align-items: flex;
        margin-top: 50px;

        p {
            height: 250px;
            background-color: $color3;
            background-position: center;
            font-family: $font2;
            font-size: 20px;
            text-align: center;
            display: flex;

        }
    }
}

//inicio servicios


.servicios {

    width: 100%;
    background-color: $color4;
    padding: 30px;
    margin-bottom: 0;

    .col {

        margin-left: 50px;

        .icons {

            width: 70px;
            height: 70px;
        }

        .icons:hover {

            transform: scale(1.1);
            transition: 1s;
            cursor: pointer;
        }


    }


    h4 {
        text-align: center;
        font-size: 20px;
        color: $color2;
        font-family: $font3;
        padding: 10px;
    }

    h4:hover {

        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }

    p {
        text-align: center;
        font-size: 15px;
        color: $color5;
        font-family: $font3;
    }

    p:hover {

        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }

}

.masinfo {
    margin-top: 400px;
    color: $color2;
    font-size: 15px;
    font-family: $font3;
    text-align: center;

}

.masinfo:hover {

    color: $color5;
}

//fin servicios//

//inicia footer//

footer {

    background-color: $color6;

    iframe {
        padding: 20px;
    }

    h5 {

        padding-top: 30px;
        color: $color4;
        font-family: $font1;
        font-weight: bold;

    }

    p {

        font-size: 20px;
        color: $color4;
        font-family: $font1;

        i {
            font-size: 30px;
            color: $color4;
        }

        i:hover {
            color: $color2;
        }
    }

}

//fin inicio//

//inicia sobre nosotros//

//inicia jumbotron//

.jumbotron {

    background-color: $color4;
    background-image: linear-gradient( to top, $color4, $color6);
    width: 100%;
    height: 500px;
    background-position: center;
    margin-bottom: 0;
    

    h1 {
        text-align: center;
        font-size: 45px;
        font-weight: bold;
        font-family: $font2;
        color: black;
        text-shadow: 5px 5px 5px $color4;
        text-transform: uppercase;
        animation-duration: 5s;
        animation-name: aparecer;
        animation-delay: 5s;
        animation-direction: alternate;
        animation-iteration-count: infinite;
        
    }
    @keyframes aparecer {

        0%{
            opacity: 0;
        }
        
        100%{
            opacity: 1;
        }
    }
    p {
        margin-left: 30px;
        margin-top: 60px;
        color: black;

        i {
            color: black;

        }
    }
}

//fin jumbotron//

.agencia {

    background-color: $color6;
    margin-bottom: 0;
    font-size: 20px;
    padding-left: 20px;
    padding-top: 10px;

}

.agencia2 {
    background-color: $color6;
    padding: 70px;

    img {
        width: 1500px;
        height: 500px;
        padding-top: 30px;

    }
}

.equipo {
    background-color: #90c296;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    padding: 30px;
    margin-bottom: 0;

}

.equipo1 {
    background-color: $color6;

    img {
        width: 300px;
        height: 450px;
    }

    h4 {
        color: $color4;
        font-weight: bold;
        font-family: $font2;
        font-size: 20px;
        text-align: center;
        margin-top: 10px;
    }

    p {
        color: $color4;
        font-family: $font2;
        font-size: 15px;
        text-align: center;
        margin-top: -10px;
    }
}

//inicia footer 2//

.footer2 {
    background-color: $color4;

    h5 {
        color: $color6;

    }

    p {
        color: $color6;

        i{
            color: $color6;
        }
        i:hover {
            color: $color2;
        }

        }
    }

//fin footer 2//

//fin sobre nosotros//

//inicia más info//

//inicia jumbotron 2//

.jumbotron2 {

    background-color: $color5;
    width: 100%;
    height: 100px;

    h1 {
        text-align: center;
        background-position: center;
        padding: 60px;
    }
}

//fin jumbotron 2//

//inicia información de servicios//

.imyd {

    background-color: $color5 ;
    
    
    h1 {

        text-align: center;
        font-size: 50px;
        font-family: $font2;
        padding: 30px;


    }

    .servi {
        border: 5px solid $color4;
        margin-top:60px;
        padding: 20px;
        margin-left: 30px;
        text-align: center;
        background-image: linear-gradient( to top, $color6, $color5);
    }

    .servi:hover {

        transform: scale(1.1);
        transition: 1s;
        cursor: pointer;
    }

    .icons2 {

        width: 90px;
        height: 100px;

    }

    h3 {
        font-family: $font2;
        font-size: 30px;
        margin-top: 10px;
        font-weight: bold;
        color: black;
        text-align: center;
    }

    p {
        font-family: $font2;
        color: black;
        text-align: center;
    }
    }


.footer3 {
    background-color: $color5 ;
    
    /*background-image: linear-gradient( to bottom right, $color5, $color2);*/
    margin-top: 50px;
    width: 100%;

    .contacto3 {
        color: $color4;
    }
}
